body{
  background-color: #e0e0e0;
}

.main-element {
  margin: 1rem auto .5rem auto;
  max-width:600px;
  line-height:1.5;
  font-size: 17px;
  color:#444;
  padding:.5rem 0rem;
  border-radius: .5rem;
}

@media (min-width: 1400px) {
  .main-element * {font-size: 24px;}
  .main-element {
  max-width:900px;
  }
}

.main-element h1,
.main-element h2,
.main-element h3{
  line-height:1.8;
}

.main-element figure {
  margin-top: 0.5rem;
}

.main-element figcaption, .main-element aside{
  margin: .2rem 0rem;
  text-align: center;
  color: hsla(0,0%,27%,0.3);
}


figure * { width: 100%; }

.main-element {
  display:grid;
  grid-template-columns: 5% [start] 90% [end] 5%;
  background-color: #EEEEEE;
  
}

  /* background: linear-gradient(#e0e0e0 , #EEEEEE 1.5rem) ; */


.main-element * {
  grid-column: start/end;
}
.size-1{
  display: block;
  width: 30%;
  margin: auto;
}

.main-element a { box-shadow: inset 0 -0.10em rgb(153, 142, 125);  }
.main-element a:hover, .main-element a:focus,
.underline { box-shadow: inset 0 -0.10em #383838;  }
