/* Header */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


.header-element a {
  text-decoration: none;
  box-shadow: none;
}

.header-element {
  padding: 0.4rem .5rem 0.4rem 0rem;
  background-color: #1d1f1d;

  display: flex;
  justify-content: right;
}

.logo-element {
  height: 100%;
  width: 100%;
  background-color: #1d1f1d;

  display: flex;
  justify-content: center;
}

#logo {
  display: flex;
  align-items: center;
}

#logo a, #mobile-logo a {
  font: 600 1.5rem/1.1 "Poppins", "sans-serif"; color: rgb(153, 142, 125);
}

#mobile-logo {
  display: none;
}







.desktop-menu li:hover, .desktop-menu li:focus-within,
.mobile-menu li:hover, .mobile-menu li:focus-within,
#logo:hover, #logo:focus, .discord-logo-wrapper:hover, .discord-logo-wrapper:focus {
  transform: scale(1.1);
  transition: 0.3s;
}


  /*Buttons*/

    /*Border Color*/

#header-button-1 {border: 1px solid #b3b6b3;}
#header-button-2 {border: 1px solid #577590;}
#header-button-3 {border: 1px solid #43AA8B;}
#header-button-4 {border: 1px solid #90BE6D;}
#header-button-5 {border: 1px solid #F9C74F;}
#header-button-6 {border: 1px solid #F8961E;}
#header-button-7 {border: 1px solid #F3722C;}
#header-button-8 {border: 1px solid #F94144;}

/*Link Color*/
#header-button-1 a {color: #b3b6b3;}
#header-button-2 a {color: #577590;}
#header-button-3 a {color: #43AA8B;}
#header-button-4 a {color: #90BE6D;}
#header-button-5 a {color: #F9C74F;}
#header-button-6 a {color: #F8961E;}
#header-button-7 a {color: #F3722C;}
#header-button-8 a {color: #F94144;}

  /*Desktop Header*/

.desktop-menu li{
    font-family: "Poppins", sans-serif;

    margin: 0px .3rem;
    border-radius: 5px;

    padding: .2rem .4rem;

}

/*Mobile Header*/

.mobile-menu li {
  margin-top: 10px;
  width: 60%;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.mobile-menu li a{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}


.desktop-menu, .mobile-menu {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1d1f1d;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 2rem;
  left: 0;
  height: calc(100%);
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
}

  /*Mobile Icon*/

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
  /*Change header for mobile.*/

@media only screen and (max-width: calc(1000px)) {
  header nav {
    display: none;
  }
  #logo {display: none;}
  #hamburger-icon {
    display: block;
  }
  #mobile-logo {display: initial;}
  .header-element {
    padding: 0.3rem 1rem 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  .navigation{
    display: none;
  }
}

/* Footer */

.footer-element{
  padding: 4px 0px;
  overflow:auto;
  bottom:0;
  right:0;
  left:0;
  background:#1d1f1d;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  font: 600 1.0rem/1.2 "Poppins", "sans-serif"; color: rgb(153, 142, 125);
}


