@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.header-element {
  background-color: #1d1f1d;
  padding: 0.2rem .5rem;
  display: flex;
  justify-content: right;
}


/*                Buttons                 */

/*  Color */
.nav-button-1 {color: #b3b6b3; border: 1px solid #b3b6b3;}
.nav-button-2 {color: #577590; border: 1px solid #577590;}
.nav-button-3 {color: #43AA8B; border: 1px solid #43AA8B;}
.nav-button-4 {color: #90BE6D; border: 1px solid #90BE6D;}
.nav-button-5 {color: #F9C74F; border: 1px solid #F9C74F;}
.nav-button-6 {color: #F8961E; border: 1px solid #F8961E;}
.nav-button-7 {color: #F3722C; border: 1px solid #F3722C;}
.nav-button-8 {color: #F94144; border: 1px solid #F94144;}
/* Shape & Size*/

.nav-button {
  line-height: 2rem;

  padding: .15rem .4rem;
  margin: 0rem .1rem;
  border-radius: .3rem;
}

.nav-button:hover{
  transform: scale(1.1);
  transition: 0.3s;
  border: 1px solid rgb(153, 142, 125);
  color: rgb(153, 142, 125);
}


/*                Logo                 */
.logo-element{
  height: 100%;
  width: 100%;

  background-color: #1d1f1d;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 1.5rem/1.1 "Poppins", "sans-serif"; color: rgb(153, 142, 125);
}

.mobile-logo{

}

  /*             Desktop, Tablet, and Mobile Header Logic             */

@media only screen and (max-width: calc(950px)) {
  header nav {
    display: none;
  }
  .logo-element {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
  #mobile-logo {display: initial;}
  .header-element {
    padding: 0.3rem 1rem 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  .navigation{
    display: none;
  }
}