/*                Layouts               */

/* general boilerplate that grid-template-areas uses to define the classes affected by placement. */
.logo {grid-area: logo;}
.nav {grid-area: nav;}
.webring-list {grid-area: webring-list;}
.main {grid-area: main;}
.sidebar1 {grid-area: sidebar1;}
.sidebar2 {grid-area: sidebar2;}
.footer {grid-area: footer;}

/* Mobile layout */
.container{
  display: grid;
  /*
  Determine sizing attributes of the horizontal rows. The mobile layout (this one) is easy to follow, since each element occupies the entire width of the screen.
  auto is used to expand/shrink the parent item to the size of the child's content.
  1fr uses up all of the space left after the auto's have used their required space.
  */
  grid-template-rows: auto auto auto 1fr auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  "logo"
  "nav"
  "webring-list"
  "main"
  "sidebar2"
  "sidebar1"
  "footer"
  ;
}

/* Tablet layout */

@media (min-width: 950px) {

  .container{
    display: grid;
    min-height: 100vh;
    /*
    more than 2 fr's will result in the space remaining (after autos) to be split at the fractional value
    with a denomination being the sum of fr coefficents(1/2 in this case)
    */
    grid-template-rows: auto auto 1fr 1fr auto;
    /* Same idea as the rows, but implemented on the vertical columns.*/
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-areas:
    "logo nav nav nav"
    "sidebar1 webring-list webring-list webring-list"
    "sidebar1 main main main"
    "sidebar2 main main main"
    "footer footer footer footer"
    ;
  }
  
}


/* Desktop layout */

@media (min-width: 1150px) {

  .container{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav nav nav nav"
    "sidebar1 webring-list webring-list webring-list sidebar2"
    "sidebar1 main main main sidebar2"
    "footer footer footer footer footer"
    ;
  }
}



/*                sidebar2 & sidebar1              */


.sidebar1-element, .sidebar2-element{
  height: 100%;
  width: 100%;
  min-height: 25rem;
  background-color: hsla(36, 5%, 21%, 1);
}





/*                temporary for dev purposes               */

