.container{
  display: grid;
  /*gap: .1rem 0rem;*/
  background-color: hsla(36, 5%, 21%, 0.25);

  grid-template-rows: auto auto 1fr auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "nav"
  "main"
  "chat"
  "other"
  "sidebar"
  "footer"
  ;

  text-align: center;
}

.header {grid-area: header;}
.navigation {grid-area: nav;}
.main {grid-area: main;}
.sidebar {grid-area: sidebar;}
.chat {grid-area: chat;}
.other {grid-area: other;}
.footer {grid-area: footer;}

.item {
  background-color: #f5f5f5;

  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  /*width:*/
  margin: 0px;
  border: 4px solid red;
}


.container {
}

.main{
  height: 58rem;
}

@media (min-width: calc(600px + 1rem)) {
  .main{
    height: 44rem;
  }
}

@media (min-width: calc(1800px)) {
  .main{
    height: 100vh;
  }
}

.main-embed{
  height: 100%;
  width: 100%;
}