:root {font:20px/1.2 "Roboto", sans-serif; } 

html * {
    margin:           unset;
    box-sizing:       unset;
    padding:          unset;
    color:            unset;
    text-decoration:  unset;
}
