.webrings-element th a{
padding: 0rem 0.05rem;
overflow: auto;
}

.webrings-element{
  background-color: #e0e0e0;
  font-size: 19px;
}

#CozyRing table {
  /*background-color: #e0e0e0;*/
}

.webrings-element table {
  margin: 0rem auto;
}

.spacer {
  padding: 0rem 0.2rem;
}





