
/* Temp, gets rid of some annoying default css that browsers use. For demonstration purposes.*/
html * {
  margin:           unset;
  box-sizing:       unset;
  padding:          unset;
  color:            unset;
  text-decoration:  unset;
}